<p id="notice"><%= notice %></p>

<h1>Listing Pilots</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>Name</th>
      <th>Number</th>
      <th>Team</th>
      <th>N races</th>
      <th>N victory</th>
      <th>N second position</th>
      <th>N third position</th>
      <th>N fastest lap</th>
      <th>N pole positions</th>
      <th>N championships</th>
      <th>Url photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pilots.each do |pilot| %>
      <tr>
        <td><%= pilot.last_name %></td>
        <td><%= pilot.name %></td>
        <td><%= pilot.number %></td>
        <td><%= pilot.team %></td>
        <td><%= pilot.n_races %></td>
        <td><%= pilot.n_victory %></td>
        <td><%= pilot.n_second_position %></td>
        <td><%= pilot.n_third_position %></td>
        <td><%= pilot.n_fastest_lap %></td>
        <td><%= pilot.n_pole_positions %></td>
        <td><%= pilot.n_championships %></td>
        <td><%= pilot.url_photo %></td>
        <td><%= link_to 'Show', pilot %></td>
        <td><%= link_to 'Edit', edit_pilot_path(pilot) %></td>
        <td><%= link_to 'Destroy', pilot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pilot', new_pilot_path %>
