<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @legend.last_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @legend.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @legend.number %>
</p>

<p>
  <strong>N races:</strong>
  <%= @legend.n_races %>
</p>

<p>
  <strong>N victory:</strong>
  <%= @legend.n_victory %>
</p>

<p>
  <strong>N second position:</strong>
  <%= @legend.n_second_position %>
</p>

<p>
  <strong>N third position:</strong>
  <%= @legend.n_third_position %>
</p>

<p>
  <strong>N fastest lap:</strong>
  <%= @legend.n_fastest_lap %>
</p>

<p>
  <strong>N pole positions:</strong>
  <%= @legend.n_pole_positions %>
</p>

<p>
  <strong>N championships:</strong>
  <%= @legend.n_championships %>
</p>

<p>
  <strong>Url photo:</strong>
  <%= @legend.url_photo %>
</p>

<%= link_to 'Edit', edit_legend_path(@legend) %> |
<%= link_to 'Back', legends_path %>
